home-page {
    .h2-bg-blur {
      position: absolute;
      top: 0px;
      z-index: 5;
      width: 100%;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 1);
      padding: 3px 20px 20px 20px;
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.10);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
     }
    .h3-bg {
      position: absolute;
      top: 140px;
      z-index: 5;
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.93);
      margin: 10% 5% 5% 5%;
      padding: 10px 20px 20px 20px;
      border-radius: 6px;
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.10);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);
    }
    .scroll {
      height: 100%
    }
    #map {
      width: 100%;
      height: 100%;
    }
  }


