// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.modal-wrapper {
  box-shadow: none !important;
}
ion-modal {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.5);
  ion-content.content {
    background-color: rgba(255, 255, 255, 0.93);
    top: 20%;
    left: 10%;
    width: 80%;
    height: 58%;
    border-radius: 8px;
    .fixed-content {
      box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.10);
    }
    .scroll-content {
      border-radius: 8px;
    }
  }
}

.ios .icon-large {
  font-size: 3.6rem;
  margin: -10px 0 0 0;
}
.icon-large {font-size:2.8rem}
h2  {font-size:2.1rem}
h3  {font-size:1.9rem}
ion-icon {
  &[class*="arrow-up"] {
    display: inline-block !important;
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 20px;
      width: $sz;
      height: $sz;
  } // custom icons
  &[class*="pin"] {
      background: url(../assets/imgs/custom-icons/pin.png) no-repeat 50% 50%;
      background-size: contain;
  }
  &[class*="stars"] {
      background: url(../assets/imgs/custom-icons/stars.png) no-repeat 50% 50%;
      background-size: contain;
  }
}
tab-title {
  &[class*="arrow-up"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 20px;
      width: $sz;
      height: $sz;
  } // custom icons
  &[class*="pin"] {
      background: url(../assets/imgs/custom-icons/pin.png) no-repeat 50% 50%;
      background-size: contain;
  }
  &[class*="stars"] {
      background: url(../assets/imgs/custom-icons/stars.png) no-repeat 50% 50%;
      background-size: contain;
  }
}

.bar-button-default-ios {
  color: inherit;
}
